// colors:
//$main-color: #ae4cae;
$main-color: #752651;
$light-bg: #9c7a9c;
$footer-bg: #f9e5f9;
$white-color: #fff;
$sky-color: #7abad4;
$submit-color: #47eed2;
$shadow: #59abcc;
$text-color: #333;
$black-color: #000;
$gray-text: rgb(157, 152, 152);
$test-color: #752651;

// family font
$family: 'Lato', sans-serif;

// breakpoit
$small: '(min-width: 768px)';
$grid-1: '(min-width: 922px)';
$grid-2: '(min-width: 600px) and (max-width: 921px)';
$mobile: '(max-width: 767px)';